.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container h2 {
  color: var(--dark);
}

.feedbackContainer {
  color: var(--dark);
}

.feedbackForm {
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding: 20px;
  border: 2px solid var(--dark);
  border-radius: 7px;
  margin: 40px;
}

.feedbackInput {
  display: flex;
  flex-direction: column;
  color: var(--dark);
  height: 30vh;
}
.feedbackInput label {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.feedbackInput textarea {
  height: 100%;
  margin-bottom: 20px;
  background-color: var(--primary);
  border: 2px solid var(--lightDark);
  border-radius: 7px;
  color: var(--dark);
}
.ratingContainer {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
  color: var(--dark);
  font-size: 20px;
}

.ratingContainer input {
  background-color: var(--primary);
  border: 2px solid var(--lightDark);
  color: var(--dark);
  border-radius: 7px;
}
.feedbackForm button {
  background-color: var(--dark);
  color: var(--primary);
  height: 40px;
  width: 20%;
  border: 2px solid var(--lightDark);
  border-radius: 7px;
  margin: auto;
}
