.sideBar {
  height: 100%;
  width: 10%;
  background-color: var(--dark);
  text-align: center;
  padding-top: 2rem;
  color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navLink {
  text-decoration: none;
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 6px;
  padding: 10px;
  transition: 0.4s;
  width: 80%;
  margin: 1rem;
}

.navLink:hover {
  background-color: var(--primary);
  color: var(--dark);
  border: 2px solid var(--dark);
}
